.App-Body {
  background: linear-gradient(90deg, rgba(118,184,82,1) 50%);
}
.inner-row{
  height: 100vh;
}
.primaryBg{
  background: rgba(118,184,82,1);
}
.primaryColor {
  color: rgba(118,184,82,1)
}